canvas#bg {
  position:fixed;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  z-index: 0;
}

main {
  position: relative;
  z-index: 1;
  color: black;
  max-width: 800px;
  padding: 2rem;
  margin: 0 auto;
  line-height: 1.6;

}

h1, h2, h3, blockquote {
  font-weight: 700;
  font-family: elevon, sans-serif;
  font-style:normal;
}

  header {
    background: var(--dark-bg);
    font-size: 2.5rem; 
    padding: 2rem;
  }

  section {
    grid-column: 2/8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    rid-column: 2/ span 9;
    margin-bottom: var(--spacing);
  }